.calculator {
  width: 500px;
}

.display {
  background-color: #000000;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.display-font {
  color: #ffffff;
}

.border {
  border: 5px solid rgb(0, 0, 0);
}